{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Main page{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bboard/style.css' %}">
</head>
<body>
    <header>
        <h1>Goods</h1>
    </header>
    <nav>
        <a href="{% url 'index' %}">Main page</a>
        <a href="{% url 'add' %}">Add new</a>
        {% for theme in themes %}
            <a href="{% url 'by_theme' theme.pk %}">{{ theme.name }}</a>
        {% endfor %}
    </nav>
    <section>
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>